.git/*
Build
MYMETA.*
nucmer.error
_build
blib
_build/*
blib/*
docs/_build/*
docs/_static/*
docs/_template/*
t/test*.out
t/widened.vcf
t/merged.vcf
t/refined.vcf
t/nucmer.*
t/test/nucmer.*
t/*.distances
*.tar.gz
t/refine.out
t/refine.vcf
scripts/ignore
scripts/ignore/*
